.header {
    background-color: #F3F4F6;
    width: 100%;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
/*ALTElogo*/
.logo {
    width: 40%;
    display: flex;
    margin: auto 0 auto 3%;
}
.logo a img {
    width: 135px;
    margin: 0 10px;
}
.logo a {
    text-decoration: none;

}
/*search*/
.search {
    padding: 15px;
}
.search_container {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #4b4b4b;
    padding: 3px;
    border-radius: 3px;
    height: 2.3em;
    width: 330px;
    overflow: hidden;
}
.search_container input[type="text"] {
    border: none;
    height: 2.0em;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome, serif;
    background: #4b4b4b;
    color: #fff;
    position: absolute;
    width: 2.5em;
    height: 2.8em;
    right: 0;
    top: -5px;
    outline : none;
    padding: 8px 13px;
}


/*nav*/
.menu {
    margin: auto 3% auto auto;
}

.menu > li {
    float: left;
    padding-right: 2rem;
    line-height: 50px;
}

.menu > li a {
    display: block;
    color: black;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    right: 1%;
}

ul.menu__second-level a {
    padding: 0.5rem 0 0 1rem;
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

.menu__single img {
    width: 40px;
    padding: 8px;
}

.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 10rem;
    background: #F3F4F6;
    border-radius: 5px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    box-shadow:
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

.navigation {
    width: auto;
}

.login-button {
    display: flex;
    margin: auto 3% auto auto;
}

.login-button ul {

}

.login-button :is(h1, h2, h3) {
    size: 10px;
}

.login-button li {
    margin-left: 0.5rem;
}

.login-button a {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 9rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    border-radius: 0.25rem;
    color: #27acd9;
    transition: 0.5s;
}

.login-button a:hover {
    color: #fff;
    background: #27acd9;
}
