.header {
    background-color: #F3F4F6;
    width: 100%;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
/*ALTElogo*/
.logo {
    width: 40%;
    display: flex;
    margin: auto;
}
.logo a img {
    width: 135px;
    margin: 0 10px;
}
.logo a {
    text-decoration: none;

}
/*search*/
.search {
    padding: 15px;
}
.search_container{
    position: relative;
    box-sizing: border-box;
    border: 2px solid #4b4b4b;
    padding: 3px;
    border-radius: 3px;
    height: 2.3em;
    width: 330px;
    overflow: hidden;
}
.search_container input[type="text"]{
    border: none;
    height: 2.0em;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome, serif;
    background: #4b4b4b;
    color: #fff;
    position: absolute;
    width: 2.5em;
    height: 2.8em;
    right: 0;
    top: -5px;
    outline : none;
    padding: 8px 13px;
}


/*nav*/
.navigation {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.navigation ul li {
    display: inline-block;
    padding: 0 8px;
}
.navigation ul li a img {
    width: 40px;
    padding: 20px 8px 8px 8px;
}
.navigation li a{
    position: relative;
}

.navigation li.current a,
.navigation li a:hover{
    color:#4b4b4b;
}

.navigation li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 3px;
    background:#4b4b4b;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

/*現在地とhoverの設定*/
.navigation li.current a::after,
.navigation li a:hover::after {
    transform: scale(1, 1);
}
