*{

}
/****** navigation.blade.php ******/
header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.head1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
ul li img{
    width: 170px;
    padding: 0;
    margin: 0;
}
ul li #serch{
    width: 400px;
}
ul li #serch_b{
    width: 80px;
    height: 40px;
    background-color: #00008b;
    color: #fff;
}
.nav_login{
    padding: 15px 30px;
/background-color: #8fbc8f;/
font-size: 20px;
    text-align: right;
}


/****** login.blade.php ******/


