@import url("work_post.css");
@import url("auction_post.css");

.dashboard-wrapper {
    margin: 2% 7%;
    display: flex;
    background-color: #fff;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.card {
    margin: 3rem;
    width: 20%;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: #F3F4F6;
}

.card-avatar {
    width: 8em;
    height: 8em;
    margin: 1rem auto;
}

.card-username {
    text-align: center;
    font-size: 2em;
}

.card-avatar img {
    border-radius: 50%;
}
.card-menu {
    margin: 2rem;
}

.card-menu-top p {
    text-align: center;
    border-bottom: 1px solid #9e9e9e;
}

.card-menu-list li {
    padding-top: 1rem;
}

a:hover {
    color: #939292;
    transition : 0.3s;
}

.dashboard-title {
    padding: 1.25rem;
    font-size: 1.75em;
}
