.workpost_wrapper {
    margin: 2% 7%;
    padding: 30px 0;
    background-color: #fff;
    border-radius: 0.5rem;
}

.workpost_title {
    margin: 0 40px 30px;
    padding: 7px 18px;
    font-size: 2em;
    font-weight: bold;
    border-left-width: 10px;
    border-color: #4b4b4b;
}

.workpost_wrapper table {
    margin-left: 60px;
    font-size: 20px;
}

.workpost_th {
    padding: 1.25rem 1rem 0 1rem;
    vertical-align: top;
    text-align: left;
}
.workpost_wrapper td {
    padding-top: 1rem;
}

.workpost_wrapper input, textarea, select {
    border-radius: 0.25rem;
}

.workpost_wrapper input[type="file"] {
    display: none;
}

.workpost_th_file label{
    padding: 0.625rem 2.5rem;
    text-align: left;
    color: #ffffff;
    background-color: #4B4B4B;
    border-radius: 0.5rem;
    cursor: pointer;
}

.work_post {
    display: flex;
    width: auto;
}

.work_post input{
    font-size: 28px;
    border-radius: 0.5rem;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
    padding: 0.625rem 2.5rem;
    max-width: 220px;
    color: #FFF;
    cursor: pointer;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
    box-shadow: 3px 5px  #939292;
}
.work_post input:hover{
    box-shadow: none;
}

